

.content-container{
display: flex;
justify-content: space-between;
margin: 20px;


}

.content-container img{
    margin-right: 20px;
    width: 550px;
    height: 500px;
   
    border-radius: 20px;

}
.content-location{
    display: flex;
    align-items: center;
}

.content-location i {
    margin-right: 8px;
}

.content-location p{
    margin-left: 8px;
}
.view-map {
    font-size: 12px;
    opacity: 0.5;  
  }